# ----------------------------------------------------------------------
# Wordless: CI - AppVeyor
# Copyright (C) 2018-2023  Ye Lei (叶磊)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------

version: 'Build {build}'

environment:
  matrix:
    # Windows
    - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2019"
      PYTHON: "C:/Python38-x64"
    # MacOS
    - APPVEYOR_BUILD_WORKER_IMAGE: "macos-catalina"
      PYTHON: "~/venv3.9"
    # Linux
    - APPVEYOR_BUILD_WORKER_IMAGE: "Ubuntu1804"
      PYTHON: "$HOME/venv3.9"

cache:
  # Windows
  - "%LOCALAPPDATA%/pip/Cache"
  # macOS
  - "/Users/appveyor/Library/Caches/pip"
  # Linux
  - "/home/appveyor/.cache/pip"

stack: python 3.9

build: off

for:
  # Windows
  -
    matrix:
      only: 
        - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2019"

    install:
      - cmd: set PATH=%PYTHON%;%PYTHON%/Scripts;%PATH%
      # Check Python version
      - python --version
      - python -m pip install --upgrade pip setuptools
      - pip install --requirement requirements_tests.txt
      # Download models and data files
      - python utils/wl_downloader_ci.py

    # Run tests
    test_script:
      - pytest tests/wl_tests_nlp/test_dependency_parsing.py
      - pytest tests/wl_tests_nlp/test_lemmatization.py
      - pytest tests/wl_tests_nlp/test_matching.py
      - pytest tests/wl_tests_nlp/test_nlp_utils.py
      - pytest tests/wl_tests_nlp/test_pos_tagging.py
      - pytest tests/wl_tests_nlp/test_sentence_tokenization.py
      - pytest tests/wl_tests_nlp/test_stop_word_lists.py
      - pytest tests/wl_tests_nlp/test_syl_tokenization.py
      - pytest tests/wl_tests_nlp/test_word_detokenization.py
      - pytest tests/wl_tests_nlp/test_word_tokenization.py

      - pytest tests/wl_tests_file_area
      - pytest tests/wl_tests_work_area

      - pytest --ignore=tests/wl_tests_nlp --ignore=tests/wl_tests_file_area --ignore=tests/wl_tests_work_area

  # macOS
  -
    matrix:
      only: 
        - APPVEYOR_BUILD_WORKER_IMAGE: "macos-catalina"

    install:
      - cmd: set PATH=%PYTHON%;%PYTHON%/Scripts;%PATH%
      # Check Python version
      - python --version
      # Install dependencies
      - python -m pip install --upgrade pip setuptools
      - pip install --requirement requirements_tests.txt
      # Download models and data files
      - python utils/wl_downloader_ci.py

    # Run tests
    test_script:
      - pytest tests/wl_tests_nlp/test_dependency_parsing.py
      - pytest tests/wl_tests_nlp/test_lemmatization.py
      - pytest tests/wl_tests_nlp/test_matching.py
      - pytest tests/wl_tests_nlp/test_nlp_utils.py
      - pytest tests/wl_tests_nlp/test_pos_tagging.py
      - pytest tests/wl_tests_nlp/test_sentence_tokenization.py
      - pytest tests/wl_tests_nlp/test_stop_word_lists.py
      - pytest tests/wl_tests_nlp/test_syl_tokenization.py
      - pytest tests/wl_tests_nlp/test_word_detokenization.py
      - pytest tests/wl_tests_nlp/test_word_tokenization.py

      - pytest tests/wl_tests_file_area
      # Ignore tests of Profiler due to unknown errors
      - pytest tests/wl_tests_work_area --ignore=tests/wl_tests_work_area/test_profiler.py

      - pytest --ignore=tests/wl_tests_nlp --ignore=tests/wl_tests_file_area --ignore=tests/wl_tests_work_area

  # Ubuntu
  - 
    matrix:
      only: 
        - APPVEYOR_BUILD_WORKER_IMAGE: "Ubuntu1804"

    install:
      - cmd: set PATH=%PYTHON%;%PYTHON%/Scripts;%PATH%
      # Check Python version
      - python --version
      # Install dependencies
      - python -m pip install --upgrade pip setuptools
      - pip install --requirement requirements_tests.txt
      # Download models and data files
      - python utils/wl_downloader_ci.py

    # Run tests
    test_script:
      # Fix PyQt
      - export QT_QPA_PLATFORM=offscreen

      - pytest tests/wl_tests_nlp/test_dependency_parsing.py
      - pytest tests/wl_tests_nlp/test_lemmatization.py
      - pytest tests/wl_tests_nlp/test_matching.py
      - pytest tests/wl_tests_nlp/test_nlp_utils.py
      - pytest tests/wl_tests_nlp/test_pos_tagging.py
      - pytest tests/wl_tests_nlp/test_sentence_tokenization.py
      - pytest tests/wl_tests_nlp/test_stop_word_lists.py
      - pytest tests/wl_tests_nlp/test_syl_tokenization.py
      - pytest tests/wl_tests_nlp/test_word_detokenization.py
      - pytest tests/wl_tests_nlp/test_word_tokenization.py

      - pytest tests/wl_tests_file_area
      - pytest tests/wl_tests_work_area

      - pytest --ignore=tests/wl_tests_nlp --ignore=tests/wl_tests_file_area --ignore=tests/wl_tests_work_area
