# -*- coding: utf-8 -*-

#
# Wordless: Requirements
#
# Copyright (C) 2018-2022  Ye Lei (叶磊)
#
# This source file is licensed under GNU GPLv3.
# For details, see: https://github.com/BLKSerene/Wordless/blob/master/LICENSE.txt
#
# All other rights reserved.
#

# ---------- Version-pinned ----------
botok == 0.8.8
jieba == 0.42.1
pkuseg == 0.0.25
nagisa == 0.2.7
nltk == 3.6.5
opencc-python-reimplemented == 0.1.6

## pymorphy2
pymorphy2 == 0.9.1
pymorphy2-dicts-ru == 2.4.417127.4579844
pymorphy2-dicts-uk == 2.4.1.1.1460299261

pyphen == 0.12.0
pythainlp == 2.3.2
razdel == 0.5.0
sacremoses == 0.0.46

## spaCy
spacy == 3.2.1
spacy-lookups-data == 1.0.3

ssg == 0.0.8
textblob == 0.15.3
tokenizer == 3.3.2
underthesea == 1.2.2

# ---------- Not version-pinned ----------
beautifulsoup4
langdetect
langid
lxml
matplotlib
networkx
numpy
openpyxl
pyqt5
pytest
python-docx
requests
scipy
wordcloud
