# -*- coding: utf-8 -*-

# ----------------------------------------------------------------------
# Wordless: CI - Requirements File
# Copyright (C) 2018-2022  Ye Lei (叶磊)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------

# Version-pinned
botok == 0.8.10
charset-normalizer == 2.1.1
jieba == 0.42.1
lingua-language-detector == 1.1.2
nltk == 3.7

## pymorphy2
pymorphy2 == 0.9.1
pymorphy2-dicts-ru == 2.4.417127.4579844
pymorphy2-dicts-uk == 2.4.1.1.1460299261

pyphen == 0.13.0
pythainlp == 3.0.8
sacremoses == 0.0.53

## spaCy
spacy == 3.4.1
spacy-lookups-data == 1.0.3
spacy-pkuseg == 0.0.31

## SudachiPy
sudachipy == 0.6.6
sudachidict_core == 20220729

textblob == 0.17.1
underthesea == 1.3.4

# Not version-pinned
beautifulsoup4
lxml
matplotlib
networkx
numpy
opencc
openpyxl
pypdf2
pyqt5
pytest
python-docx
requests
scipy
wordcloud
