# -*- coding: utf-8 -*-
# ----------------------------------------------------------------------
# Wordless: Requirements files - Tests
# Copyright (C) 2018-2025  Ye Lei (叶磊)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------

# NLP
botok == 0.8.12
charset-normalizer == 3.3.2
khmer-nltk == 1.6
laonlp == 1.2.0
lingua-language-detector == 2.0.2
nltk == 3.9.1
pyphen == 0.17.0
pythainlp == 5.0.4
sacremoses == 0.1.1
simplemma == 1.1.2
stanza == 1.8.2
underthesea == 6.8.4
vaderSentiment == 3.3.2

## python-mecab-ko
python-mecab-ko == 1.3.7
python-mecab-ko-dic == 2.1.1.post2

## pymorphy3
pymorphy3 == 2.0.2
pymorphy3-dicts-ru == 2.4.417150.4580142
pymorphy3-dicts-uk == 2.4.1.1.1663094765

## spaCy
spacy == 3.7.5
spacy-lookups-data == 1.0.5
spacy-pkuseg == 0.0.33

## SudachiPy
sudachipy == 0.6.9
sudachidict_core == 20241021

# Miscellaneous
beautifulsoup4
lxml
matplotlib
networkx
numpy == 1.26.4 # spaCy is incompatible with NumPy 2.0
opencc-python-reimplemented
openpyxl
pypdf
pyqt5==5.15.10 # To be compatible with macOS < 11 on AppVeyor
pytest
python-docx
python-pptx
requests
scikit-learn == 1.4.2 # Underthesea is incompatible with scikit-learn 1.5
scipy
wordcloud

# For PyTorch on Linux using CPU
# See: https://stackoverflow.com/a/57060441
--index-url=https://download.pytorch.org/whl/cpu
--extra-index-url=https://pypi.org/simple
torch
